/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display");

/* --- Components design --- */
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/projects.css");

/* --- Fonts & colors --- */
body{
  margin: 0px;
}
html {
  overflow-x: hidden;
}
h1 {
  font-family: 'Playfair Display';
  font-size: 60px;
}
h2 {
  font-family: 'Playfair Display';
  font-size: 50px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}
p {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 18px;
}
.container {
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 40px;
}
.wrapper-beige {
  background-color: #FBF9FA;
}



