.banner {
  background-size: cover !important;
  height: 100vh;
  color: black;
  display: flex;
  align-items: flex-start;
  top: 0;
  left: 0;
}
.banner-content{
  padding: 20px;
  margin-top: 70px;
  background-color: rgba(255,255,255, 0.4);
}
.banner-content h3 {
  padding-top: 0px;
  line-height: 25px;
  font-size: 16px
}
@media(min-width: 768px) {
  .banner {
    align-items: center;
  }
  .banner-content{
    padding: 60px 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 80px;
    margin-bottom: 200px;
    font-size: 25px
  }
  .banner-content h1{
    font-size: 40px;
  }
  .banner-content h3{
    font-size: 22px;
    line-height: 40px;
  }
}
@media(min-width: 840px){
  .banner-content h3{
    font-size: 25px;
    line-height: 40px;
  }
  .banner-content h1{
    font-size: 60px;
  }
}
