.flex {
  display: flex;
  justify-content: space-between;
}

.flex {
  border-bottom: 1px solid grey;
} :last-child {
    border-bottom: none;
  }

.logo {
  width: 300px;
}

.logo-git {
  width: 80px;
}

.logo-rails {
  width: 100px;
}

.description h3 {
  font-size: 25px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}
.align-right.slide-in{
  transform:translateX(50%) scale(1);
  margin-left: 50px;
  margin-bottom: 90px;
}
.align-left.slide-in{
  transform:translateX(-50%) scale(1);
  margin-right: 50px;
  margin-bottom: 90px;
}
.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}

.title{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 30px;
  font-style: bold;
  font-size: 35px;
}

