.flex {
  display: flex;
  justify-content: space-between;
}

.flex-skills {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.flex-interests{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-contact{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.content-interests{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.content-interests p{
  padding-top: 25px;
}

.logo-interests{
  max-width: 100px;
}

.line {
  height: 30px;
  min-width: 800px;
  margin: 0 auto 10px;
  line-height: 25px;
  color: black;
  padding: 0 0 0 10px;
}

.line:after{
  content: '';
  background-color: #26baee;
  height: 30px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 4s;
  top: 0;
  left: 0;
  z-index: -1;
}
.line1:after {
  max-width: 80%;
}
.line2:after {
  max-width: 50%;
}
.line3:after {
  max-width: 30%;
}
.line4:after {
  max-width: 60%;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

.startrip{
  max-width: 600px;
}

.kbuddy{
  max-width: 500px;
}

.logo-skills{
  max-width: 70px;
}

.logo {
  max-width: 100px;
}

.logo-git {
  width: 80px;
}

.description h3 {
  font-size: 25px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}
.align-right.slide-in{
  transform:translateX(50%) scale(1);
  margin-left: 50px;
  margin-bottom: 90px;
}
.align-left.slide-in{
  transform:translateX(-50%) scale(1);
  margin-right: 50px;
  margin-bottom: 90px;
}
.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}
.slide-in.active:hover {
  transform: scale(1.1);
}
.title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-style: bold;
  font-size: 35px;
}

